body {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
    color: #7971ea;
}

h1, h2, h3, h4, h5, p {
    margin: 0px;
}

hr {
    margin: 0px;
    
    border: 0px;
    border-bottom: 1px solid #f3f3f4;
}

.Dash {
    width: 40px;

    border: 1px solid #7971ea;
}

nav {
    width: 100%;
}

nav .First_Nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-wrap: wrap;
    
    height: 45px;

    margin: 0px 8%;
    padding: 40px 0px;
}

nav .First_Nav .Search {
    height: 45px;

    position: relative;
}

nav .First_Nav .Search .material-icons {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);

    font-size: 20px ;
    color: #8c92a0;
}

nav .First_Nav .Search input {
    width: 160px;
    height: 100%;

    padding-left: 30%;

    border: 0px;

    transition: padding-left 0.5s ease;
}

nav .First_Nav .Search input::placeholder {
    font-size: 16px;
}

nav .First_Nav .Search input:focus {
    outline: none;

    font-size: 16px;

    padding-left: 24%;
}

nav .First_Nav .Icons {
    position: relative;
}

nav .First_Nav .Icons a .material-icons {
    margin-left: 10px;

    color: #868995;
    font-size: 20px;

    transition: color 0.5s ease;
}

nav .First_Nav .Icons a .material-icons:hover {
    color: #3d3f45;
}

nav .First_Nav .Icons span {
    position: absolute;
    bottom: 22px;
    left: 90px;

    width: 24px;
    height: 24px;

    text-align: center;
    line-height: 24px;

    border-radius: 50%;
    
    color: #fff;
    font-size: 12px;

    background: #7971ea;
}

nav .Logo h1 {
    color: #25262a;
    font-size: 18px;
    font-weight: 400;

    letter-spacing: 5px;
    text-transform: uppercase;

    padding: 10px;

    border: 2px solid #25262a;
}

nav .Second_Nav {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 20px 0px;
}

nav .Second_Nav a {
    color: #25262a;
    font-size: 12px;

    text-transform: uppercase;
    letter-spacing: 1px;

    padding: 10px 0px 10px 30px;

    position: relative;

    transition: color 0.5s ease;
}

nav .Second_Nav a .material-icons {
    position: absolute;
    top: 50%;
    right: -20%;
    transform: translate(-50%, -50%);
}

nav .Second_Nav .Edit {
    padding: 10px 20px 10px 30px;
}

nav .Second_Nav a:hover {
    color: #7971ea;
}

nav .Second_Nav #Active {
    color: #7971ea;
}

nav .Third_Nav {
    font-size: 14px;
    font-weight: 500;
    background-color: #f8f9fa;

    padding: 18px 80px;
}

nav .Third_Nav a {
    font-weight: 400;

    transition: all 0.3s ease-in-out;
}

nav .Third_Nav a:hover {
    color: #3a2ee0;
}

nav .Third_Nav span {
    color: #8c92a0;
}

header .First_Header {
    padding: 80px 0px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    flex-wrap: wrap;
}

header .First_Header img {
    width: 560px;
    height: 360px;

    margin: 20px 0px;

    border-radius: 5px;
}

header .First_Header div {
    width: 450px;
    height: 360px;

    margin: 20px 0px;
}

header .First_Header div h1 {
    font-size: 32px;
    font-weight: 400;

    margin: 20px 0px;
}

header .First_Header div p {
    margin-bottom: 16px;
    line-height: 1.7;

    color: #8c92a0;
    font-weight: 300;
    font-size: 16px;
}

header .Second_Header {
    padding: 80px 0px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

header .Second_Header h1 {
    font-size: 30px;
    font-weight: 400;

    margin: 16px 0px 8px;
}

header .Second_Header .Container {
    display: flex;

    margin: 50px 0px 20px;
}

header .Second_Header .Container div {
    width: 255px;
    height: 355px;

    margin: 0px 10px;
    text-align: center;
}

header .Second_Header .Container div img {
    width: 120px;
    height: 120px;
    
    margin-bottom: 24px;

    border-radius: 50%;
}

header .Second_Header .Container div h2 {
    font-size: 20px;
    font-weight: 400;
}

header .Second_Header .Container div h4 {
    color: #b3b3b3;
    font-size: 14px;
    font-weight: 400;

    margin: 5px 0px 20px;
    
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

header .Second_Header .Container div p {
    color: #8c92a0;
    font-size: 16px;
    font-weight: 300;

    line-height: 1.7;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;

    display: flex;
    flex-wrap: wrap;

    padding: 60px 0px;
}

main section {
    margin: 0px 20px;

    width: 340px;

    display: flex;
    flex-direction: row;
}

main section .material-icons {
    color: #7971ea;
    font-size: 50px;

    margin-right: 20px;
}

main section .Truck {
    transform: rotateY(180deg);
}

main section div h2 {
    margin-top: 10px;

    margin-bottom: 5px;

    color: #25262a;
    font-size: 18px;
    font-weight: 400;

    text-transform: uppercase;
    letter-spacing: 1px;
}

main section div p {
    color: #8c92a0;
    font-weight: 300;
    font-size: 16px;
    
    line-height: 1.5;
}

footer {
    padding: 60px 0px;
    line-height: 1.8;
}

footer .First_Footer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    height: 450px;
    margin: 0px 80px;
}

footer .First_Footer div h1 {
    color: #25262a;
    font-size: 20px;
    font-weight: 450;

    margin-bottom: 24px;
}

footer .First_Footer div ul {
    list-style-type: none;

    margin-top: 0px;
    padding: 0px;
}

footer .First_Footer .First {
    width: 480px;
    margin-right: 60px;
}

footer .First_Footer .First div {
    display: flex;
    justify-content: space-between;
}

footer .First_Footer .First div ul li {
    margin-bottom: 10px;
}

footer .First_Footer .First div ul li a {
    color: #5c626e;

    transition: all 0.3s ease-in-out;
}

footer .First_Footer .First div ul li a:hover {
    color: #7971ea;
}

footer .First_Footer .Second img {
    width: 250px;

    border-radius: 3px;
}

footer .First_Footer .Second h2 {
    color: #7971ea;
    font-size: 18px;
    font-weight: 400;

    margin-top: 16px;

    transition: all 0.3s ease-in-out;
}

footer .First_Footer .Second h2:hover {
    color: #3a2ee0;
}

footer .First_Footer .Second h4 {
    color: #737b8a;
    font-size: 14px;
    font-weight: 400;
}

footer .First_Footer .Second div {
    display: flex;
    align-items: center;
}

footer .First_Footer .Second div .material-icons {
    color: #7971ea;
    font-size: 22px;

    margin-right: 16px;
}

footer .First_Footer .Second div p {
    color: #25262a;
    font-size: 16px;

    margin-bottom: 5px;
}

footer .First_Footer .Second div a {
    color: #5c626e;
    font-size: 16px;

    margin-bottom: 5px;

    transition: all 0.3s ease-in-out;
}

footer .First_Footer .Second div a:hover {
    color: #7971ea;
}

footer .First_Footer .Second form {
    margin-top: 80px;
}

footer .First_Footer .Second form label {
    color: #25262a;
    font-size: 20px;
    font-weight: 400;
}

footer .First_Footer .Second form div {
    margin-top: 10px;

    height: 50px;
    width: 240px;

    position: relative;
}

footer .First_Footer .Second form div input {
    height: 100%;
    width: 100%;

    border: 1px solid #ced4da;
    border-radius: 4px;

    padding-left: 10px;
    font-size: 16px;
}

footer .First_Footer .Second form div input:focus {
    color: #495057;
    background-color: #fff;

    outline: 0px;
    border-color: #7971ea;

    padding-left: 10px;
}

footer .First_Footer .Second form div input::placeholder {
    font-size: 16px;
}

footer .First_Footer .Second form div button {
    position: absolute;
    top: 50%;
    right: -38px;
    transform: translate(-50%, -50%);

    padding: 12px 20px;

    background-color: #7971ea;
    border: 1px solid #7971ea;
    border-radius: 4px;

    color: #fff;
    font-size: 14px;
    font-weight: 400;

    text-transform: uppercase;
    letter-spacing: 2px;

    transition: all 0.3s ease-in-out;
}

footer .First_Footer .Second form div button:hover {
    box-shadow: 0 5px 20px -7px rgb(0, 0, 0, 0.9);
    background-color: #5a50e5;
}

footer p {
    text-align: center;

    margin-bottom: 10px;

    color: #8c92a0;
    font-weight: 400;
    font-size: 16px;
}

footer p a {
    transition: all 0.3s ease-in-out;
}

footer p a:hover {
    color: #4f45e3;
}